
<html data-ng-app="dinarApp">

<head>
    <title>Page Title</title>
</head>

<body ng-controller="resetPasswordController">
    <div class="box">
        <div class="icon-box">
            <span><i class="fa fa-lock"></i> <br>RESET</span>
        </div>
        <div class="txtb"  ng-hide="dataHideAfterReset">
            <h3>Hello {{username}} Reset your password</h3>

            <p> In the fields below, enter your new password.</p>
            <p style="color:rgb(252, 158, 158)" ng-hide="passwordNotMatchMsg">your password is not matching</p>
            <form>
                <input type="password" class="input" ng-model="password1" ng-change="checkPassword()" placeholder="Password">
                <input type="password" class="input" ng-model="password2" ng-change="checkPassword1()" placeholder="Conform Password">
                <button type="submit" class="button" ng-click="resetPassword()" ng-disabled="resetFlag">Reset</button>
            </form>
        </div>
        <div >
           <p class="reset-message" ng-show="resetMsg">{{messageAfterReset}}</p>
          </div>
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<!--<script src="/js/angular.js"/>-->
<!--<script src="app.js"/>-->
<script>
    var app = angular.module("dinarApp", [])
    app.controller("resetPasswordController", ["$scope", "$http", "$location", function ($scope, $http, $location) {
                console.log("control in controller");
                $scope.resetFlag = true;
                $scope.passwordNotMatchMsg = true;
                $scope.checkPassword = function () {
                    if (($scope.password1 == $scope.password2) & ($scope.password1 != '') & ($scope.password2 != '')) {
                        $scope.resetFlag = false;
                        $scope.passwordNotMatchMsg = true;
                        console.log('password match')
                    }else{
                     $scope.resetFlag = true
                    }
                }
                $scope.checkPassword1 = function () {
                    if ($scope.password1 != $scope.password2) {
                            console.log('message apper');
                            $scope.passwordNotMatchMsg = false
                        }
                         $scope.checkPassword();
                    }
                        var obj = [];
                        obj = $location.absUrl().split("/");
                        $scope.username =obj[obj.length - 2];
                        $scope.resetPassword = function () {
                        console.log(obj[obj.length - 1]);
                        $http({
                            method: "put",
                            url: "<%=resetPasswordLink%>",
                            data: {
                                password: $scope.password2,
                                reset_token: obj[obj.length - 1]
                            }
                        }).success(function (data) {
                            console.log("request is sent");
                            console.log(data);
                            $scope.dataHideAfterReset=true;
                            $scope.messageAfterReset=data.message;
                            $scope.resetMsg=true;
                        }).error(function (data) {
                            console.log("error is occure")
                            console.log(data)
                            $scope.dataHideAfterReset=true;
                            $scope.messageAfterReset=data.message;
                            $scope.resetMsg=true;
                        })
                    }

                }]);
</script>

</html>

