<div style="background: url('images/login_bg.jpg') no-repeat;height:100%;color:#e9d482;text-align:center;">
	<br/>
	<center><div id="form_div" style="width:50%;border-radius:10px;background-color:black;padding:10px;background-color: rgba(0, 0, 0, 0.5);">
		<form>
			<fieldset class="form-group">
			    <label for="InputEmailId">Please Enter your email Id</label>
			    <input type="email" ng-model="email" name="email" class="form-control" id="InputEmailId" placeholder="Enter email">
			</fieldset>
			    <button name="forgotPassword" ng-click="forgotPassword(email)" type="submit" class="btn btn-gold">Submit</button>
		</form>
	</div></center>
</div>